// Animation stuff

$cover-width: auto;

.phone-containter {
  text-align: center;
}

.phone-containter-slider {
  max-height: 65vh;
  width: auto;
  max-width: 30vh;

  @media only screen and (max-width: 600px) {
    height: 400px !important;
  }
}

.phone-cover-vertical {
  width: $cover-width;
  height: 65vh;
  top: 40px;

  @media only screen and (max-width: 600px) {
    height: 400px;
  }
}
.phone-cover {
  width: $cover-width;
  max-height: 65vh;
  width: auto;

  @media only screen and (max-width: 600px) {
    height: 400px !important;
  }
}
