@media only screen and (max-width: 600px) {
  $phone-height: 400px;
}

$phone-height: 600px;
$phone-width: calc(600px / 2);

// Animation stuff
.phone video {
  width: $phone-width;
  height: $phone-height;
}

.phone {
  height: $phone-height;
  width: $phone-width;
  margin: 0 auto;
}

.phone img {
  height: $phone-height;
  width: $phone-width;
}
